*{
    font-family: montserrat;
}
body{
    background: f1fbff;
}
.section-padding{
    padding:100px 0 ;
}
.carousel-item{
height:100vh;
min-width:300px ;
}
.carousel-coption{
bottom: 220px;
z-index: 2;
}
.carousel-coption h1{
font-size: 45px;
text-transform:  uppercase;
letter-spacing: 2px;
margin-top: 25px ;
}

.carousel-coption p{
    width: 60px;
    margin: auto ;
    font-size:18px;
    line-height: 1.9;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 1700px;
    height: 1500px;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
   z-index: 1;
}
.navbar-nav a{
 font-size: 15px;
text-transform: uppercase ;
font-weight: 500;
}

.navbar-light .navbar-brand{
    color: #000;
    font-size:  25px;
    text-transform: uppercase ;
    font-weight: 700;
    letter-spacing: 2px ;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color: #000;
}
.navbar-light .navbar-nav .navbar-link{
    color: #000;
}
.w-100{
    height: 100vh;
}

.services .card-body i{

    font-size: 50px;
}

.team .card-body i{

    font-size: 20px;
 }

.portfolio.card{
    box-shadow:15px 15px 40px rgba(0,0,0,0,0.15);
}

.team.card{
    box-shadow:15px 15px 40px rgba(0,0,0,0,0.15);
}
/*===responsive css===*/
@media only screen and (max-width:767px) and (max-width:991px){
    .carousel-coption{
        bottom: 370px;
    }
    .carousel-coption p{
        width: 100px;
    }

    .card{
        margin-bottom: 30px;
    }
    .img-area img{
        width: 100%;
    }
}
@media only screen and (max-width:767px){
    .navbar-nav{
        text-align: center;
    }
    .carousel-coption{
        bottom: 125px;
    }
    .carousel-coption h1{
        font-size:  17px;
    }
    .carousel-coption a{
        padding: 10px 15px;
    }
    .carousel-coption p{
        width: 100px;
        line-height: 1.6;
        font-size: 12px;
    }
.about.text{
    padding-top: 50px;
}
.card{
    margin-bottom: 30px;
}
}
    
